<mat-toolbar mat-dialog-title color="primary">
  <mat-dialog-actions>
    Login
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close >&times;</button>
  </mat-dialog-actions>
</mat-toolbar>

<p>
  {{ user | json }}
</p>
<!-- Template reference variables ( #var ) -->
<form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
     <mat-dialog-content>
          <p>
               <mat-form-field >
               <!-- <mat-form-field dividerColor="{{ username.invalid && !username.pristine ? 'warn':'primary'}}"> -->
                    <!-- [(ngModel)]="user.username" -->
                    <input matInput
                     placeholder="Username"
                     type="text" [(ngModel)]="user.username"
                      name="username" required
                      #username="ngModel"/>
                      <mat-hint>
                           <span [hidden]="username.pristine">
                                <span [hidden]=" username.valid">username is invalid</span>
                           </span>
                      </mat-hint>
               </mat-form-field>
               <mat-form-field >
               <!-- <mat-form-field dividerColor="{{ username.invalid && !username.pristine ? 'warn':'primary'}}"> -->
                    <!-- two way data binding -->
                    <!-- [(ngModel]="user.password" -->
                    <!-- The name attribute is used to reference elements in a JavaScript -->
                    <input
                    matInput
                     placeholder="Password"
                      type="password"
                       [(ngModel)]="user.password"
                       name="password" required
                       #password="ngModel"/>
                       <mat-hint>
                          <span [hidden]="password.pristine">
                               <span [hidden]=" password.valid">password is invalid</span>
                          </span>
                     </mat-hint>
               </mat-form-field>
               <!-- [(ngModel)]="user.remember" -->
               <mat-checkbox name="remember" [(ngModel)]="user.remember">
                    Remember Me
               </mat-checkbox>
          </p>
     </mat-dialog-content>
    <mat-dialog-actions>
         <span class="flex-spacer"></span>
         <button mat-button mat-dialog-close>Cancel</button>
         <button type="submit"
         [disabled]="loginForm.form.invalid"
          mat-button mat-dialog-close
          [style.background-color]="loginForm.invalid ? 'gray' : 'green'"
           class="text-floral-white">Login
         </button>

    </mat-dialog-actions>
</form>
